.navbarContainer {
  width: 100%;
  height: 6rem;
  margin-top: 1rem;
  padding: 1.3rem 0.6rem 1.3rem 0;
}

.navbarListAndLink {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  flex: 1;
}
